.create-post{
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
  }
  
  .create-post .form-group{
    margin-bottom: 0;
    display: inline-flex;
  }
  
  .create-post .form-group .form-control{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
 .profile-photo-md{
    margin-right: 10px;
  }
  
//   .create-post .tools{
//     // padding: 8px 0 10px;
//   }
  
   ul.publishing-tools{
    display: inline-block;
    text-align:left;
    margin: 0;
    padding:5px 0;
  }
  
 ul.publishing-tools li a{
    color: #6d6e71;
    font-size: 18px;
  }
  
  ul.publishing-tools li a:hover{
    color: #27aae1;
  }
  img.profile-photo-sm{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.scrollbar-wrapper.contact-list{
    overflow-y: auto;
    height: 400px;
    border: none;
    margin-bottom: 20px;
}
//   chat-room
 ul.contact-list li{
    width: 100%;
    margin-bottom: 0;
  }
  
  ul.contact-list li a{
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #f1f2f2 !important;
  }
  
  ul.contact-list li a:hover, ul.contact-list li a:active, ul.contact-list li a:focus{
    border: none;
    border-bottom: 1px solid #8dc63f !important;
    border-radius: 0;
    cursor: pointer;
    background: none;
  }
  
  ul.contact-list li a .contact{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  ul.contact-list li a .contact .msg-preview{
    margin-left: 10px;
  }
  
   ul.contact-list li a .contact .msg-preview small{
    position: absolute;
    top: 20px;
    right: 10px;
  }
  
  ul.contact-list li a .contact .msg-preview .chat-alert{
    background: red;
    text-align: center;
    border-radius: 4px;
    padding: 1px 6px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: #fff;
  }

  
 ul.contact-list li a .contact .msg-preview .seen, .replied{
    color: #939598;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 14px;
  }
  

  
  /*Chat Messages*/
  
  .chat-body ul.chat-message{
    padding: 0;
    margin: 0;
  }
  
  .chat-room .chat-body ul.chat-message li{
    list-style: none;
    margin-bottom: 20px;
  }
  
  .chat-room .chat-body ul.chat-message li.left .chat-item{
    background: rgba(141,198,63, .1);
    margin-left: 50px;
    padding: 5px 10px;
    position: relative;
    border-radius: 10px;
  }
  
  .chat-room .chat-body ul.chat-message li.left .chat-item::before{
    border-bottom: 10px solid transparent;
    border-right: 8px solid rgba(141,198,63, .1);
    border-top: 10px solid transparent;
    content: "";
    height: 0;
    left: -8px;
    position: absolute;
    top: 10px;
    width: 0;
  }
  
  .chat-room .chat-body ul.chat-message li.left .chat-item .chat-item-header{
    border-bottom: 1px dotted #caef8e;
    margin-bottom: 10px;
  }
  
  .chat-room .chat-body ul.chat-message li.right .chat-item{
    background: rgba(39,170,225, .1);
    margin-right: 50px;
    padding: 5px 10px;
    position: relative;
    border-radius: 10px;
  }
  
  .chat-room .chat-body ul.chat-message li.right .chat-item::after{
    border-bottom: 10px solid transparent;
    border-left: 8px solid rgba(39,170,225, .1);
    border-top: 10px solid transparent;
    content: "";
    height: 0;
    right: -8px;
    position: absolute;
    top: 10px;
    width: 0;
  }
  
  .chat-room .chat-body ul.chat-message li.right .chat-item .chat-item-header{
    border-bottom: 1px dotted #bce8f7;
    margin-bottom: 10px;
  }
  
  .chat-room .chat-body ul.chat-message li .chat-item .chat-item-header h5{
    color: #4d4d4d;
  }
  
  .chat-room .chat-body ul.chat-message li .chat-item .chat-item-header small{
    position: absolute;
    top: 15px;
    right: 20px;
  }
  
  .chat-room .send-message{
    background: #f8f8f8;
    padding: 20px;
    border-radius: 4px;
  }
  
  .chat-room .send-message button{
    background: #000;
    color: #fff;
  }