
  
  .header{
    background: #231F20;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px;
  }
  .menu a.menu-link{
    line-height: 26px;
    color: #fff !important;
    padding: 8px 20px;
  }
  .menu form{
    margin: 12px 0;
  }
  
  .menu form .form-group{
    position:relative;
  }
  
  .menu form .form-group i.icon{
    position: absolute;
    left: 15px;
    top: 3px;
    color: #fff;
  }
  .form-search button{
    background: rgba(255,255,255, 0.2);
    border-radius: 13px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: #fff;
    padding-left: 10px !important;
    font-size: 12px;
  }
  .form-search_input{
    background: rgba(255,255,255, 0.2);
    border: 0;
    box-shadow: none;
    min-width: 235px;
    color: #fff;
    height: 26px;
    border-radius: 13px;
    font-size: 13px;
  }
  
  .menu a.nav-link{
    line-height: 26px;
    color: #fff !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
 
  
  .menu ul.main-menu li.dropdown a{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
  }
  
  .menu ul.main-menu li.dropdown a:hover, .menu ul.main-menu li.dropdown a:active, .menu ul.main-menu li.dropdown a:focus{
    color: #27aae1;
    background: none;
  }
  
  .menu ul.main-menu li.open a, .menu ul.main-menu li.open a:active, .menu ul.main-menu li.open a:focus{
    background: transparent;
    color: #27aae1;
  }
  
  .menu ul.main-menu li ul.dropdown-menu{
    background: #231F20;
    box-shadow: none;
    border: 0;
    padding: 0;
  }
  
  .menu ul.main-menu li ul.dropdown-menu li{
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.1)
  }
  
  .menu ul.main-menu li ul.dropdown-menu li a, .menu ul.main-menu li.open ul.dropdown-menu li a{
    color: #fff;
    font-size: 13px;
    line-height: 16px;
  }
  
  .menu ul.main-menu li ul.dropdown-menu li a:hover, .menu ul.main-menu li.open ul.dropdown-menu li a:hover{
    color: #e6e6e6;
  }
  
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0;
  }
  #header.lazy-load{
    
    position: fixed;
    left: 0;
    right: 0;
    transition: .5s ease-in-out;
    
    z-index: 99999;
  }
  
  
  
  /*Transparent Background Header for Landing Page-2*/
  
  #header-inverse nav.menu{
    background: transparent;
    margin-top: 15px;
    z-index: 1030;
  }
  
  #header-inverse .menu ul.main-menu li ul.dropdown-menu{
    border-radius: 4px;
    position: absolute;
  }
  
  #header-inverse .menu ul.main-menu li ul.dropdown-menu::before{
    content: "";
      display: block;  
      position: absolute;
      right: 20px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 10px solid #231F20;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
  }
  .logout{
    line-height: 26px;
    
  }