.create-post{
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
  }
  
  .create-post .form-group{
    margin-bottom: 0;
    display: inline-flex;
  }
  
  .create-post .form-group .form-control{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
   img.profile-photo-md{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .create-post .tools{
    // padding: 8px 0 10px;
  }
  
  .create-post .tools ul.publishing-tools{
    display: inline-block;
    text-align:left;
    margin: 0;
    padding:5px 0;
  }
  
  .create-post .tools ul.publishing-tools li a{
    color: #6d6e71;
    font-size: 18px;
  }
  
  .create-post .tools ul.publishing-tools li a:hover{
    color: #27aae1;
  }
  .post-content{
    background: #f8f8f8;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #f1f2f2;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .post-content img.post-image, video.post-video, .google-maps{
    width: 100%;
    height: auto;
  }
  
  .post-content .google-maps .map{
    height: 300px;
  }
  
  .post-content .post-container{
    padding: 20px;
  }
  
  .post-content .post-container .post-detail{
    padding-left: 10px;
    position: relative;
  }
  
  .post-content .post-container .post-detail .post-text{
    line-height: 24px;
    margin: 0;
  }
  
  .post-content .post-container .post-detail .reaction{
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .post-content .post-container .post-detail .post-comment{
    display: inline-flex;
    margin: 10px auto;
    width: 100%;
  }
  
  .post-content .post-container .post-detail .post-comment img.profile-photo-sm{
    margin-right: 10px;
  }
  
  .post-content .post-container .post-detail .post-comment .form-control{
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin: 7px 0;
    min-width: 0;
  }
  .profile-link{
    color: #149AC9;
  }
  .following{
    color: #8dc63f;
    font-size: 12px;
    margin-left: 20px
  }
  .custom-switch{
    padding-left: 0px !important;
  }
  .scrollbar-wrapper.contact-list li{
    border-bottom: 1px solid #ddd;
   
  }
  .scrollbar-wrapper.contact-list li a .contact{
    padding: 10px 0px;
  }


  .profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }