.Image-cover{
    height: 360px;
    position: absolute;
    top: 0px;
   
    left: 0px;
    right: 0px;
    z-index: 1;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  }
  .btn-uploadCoverImage{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    outline: none !important;
  }
  .timeline{
    position: relative;
  }
  .timeline-cover{
    z-index: 2;
      min-height: 360px;
      border-radius: 0 0 4px 4px;
      position: relative;
    }
    .timeline-fullname{
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 900;
    }
    /*Timeline Menu for Large Screens*/
    
    .timeline-cover .timeline-nav-bar{
      background: rgba(0,0,0, .7);
      width: 100%;
      position: absolute;
      bottom: 25px;
    }
    
    .timeline-cover .timeline-nav-bar .profile-info{
      position: absolute;
      text-align: center;
      padding: 0 20px;
      top: -100px;
      z-index: 999;
      .btn-upload{
        bottom: 65px;
      position: absolute;
      left: calc(50% - 20px);
      z-index: 100;
      position: absolute;
      }
    }
    
    .timeline-cover .timeline-nav-bar .profile-info img.profile-photo{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 10px solid #fff;
    }
    
    .timeline-cover .timeline-nav-bar ul.profile-menu{
      margin: 0;
      display: table;
    }
    
    .timeline-cover .timeline-nav-bar .profile-menu li{
      display: table-cell;
      vertical-align: middle;
      padding: 15px 0;
    }
    
    .timeline-cover .timeline-nav-bar .profile-menu li a{
      color: #fff;
      padding: 15px;
      text-decoration: none;
    }
    
    .timeline-cover .timeline-nav-bar .profile-menu li a.active{
      color: #27aae1;
    }
    
    .timeline-cover .timeline-nav-bar .profile-menu li a:hover{
      color: #27aae1;
    }
    
    .timeline-cover .timeline-nav-bar ul.follow-me{
      margin: 0;
      position: absolute;
      right: 15px;
      top: 2px;
    }
    
    .timeline-cover .timeline-nav-bar .follow-me li{
      padding: 6px 15px;
      color: #fff;
    }
    
    /*Timeline Menu for Small Screens*/
    
    .timeline-cover .navbar-mobile{
      bottom: -185px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
    }
    
    .timeline-cover .navbar-mobile .profile-info img.profile-photo{
      border: 10px solid #fff;
      border-radius: 50%;
      height: 200px;
      margin: auto;
      width: 200px;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul{
      margin: 0 0 20px;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul li{
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul li::after{
      content: "";
      height: 20px;
      background: none;
      border-right: 1px solid #f1f2f2;
      position: absolute;
      right: 0;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul li:nth-child(4)::after{
      content: none;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul li a{
      color: #4d4d4d;
    }
    
    .timeline-cover .navbar-mobile .mobile-menu ul li a.active{
      color: #27aae1;
    }
  
    #page-contents{
      margin-top: 60px;
    }